<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Secure Calculator</title>
    <script type="text/javascript" src="/static/js/main.js">
      //alert('Script says hi')


    </script>
  </head>
  <body>
    <h1>Welcome to the secure rest calculator</h1>
    <a href="/login">Click to login</a>

    <p id="paragraph_field">This is paragraph</p>

    <button type="button" name="btnChange Paragraph" onclick="updateParagraph()">Click to change paragraph</button>
  </body>
</html>
