<html>
   <head>
      <title>Redirection</title>
      <meta http-equiv = "refresh" content = "5; url = https://127.0.0.1:5000/calculator" />
   </head>
   <body>
     <style>
       body {
       background-image: url('https://c.tenor.com/hjjG_i4XmcEAAAAd/lizard-dance.gif');
       background-repeat: no-repeat;
       background-attachment: fixed;
       background-size: cover;
       }
     </style>
      <p>You logged in successfully, redirecting to calculator in 5 seconds.</p>
   </body>
</html>
