<html>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>New</title>
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css"
  />
</head>
  <body>
    <h3>New Account</h3>
    <style>
      body {
      background-image: url('https://c.tenor.com/hjjG_i4XmcEAAAAd/lizard-dance.gif');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
      }
    </style>
    <p>No account found, do you want to sign up?
    </p>
    <form action = '/newuser'>
      <input type = 'submit' value = 'Yes' />
    </form>
    <form action = '/'>
      <input type = 'submit' value = 'No' />
    </form>
  </body>
</html>
