<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>No Login Calculator</title>
    <iframe src="/static/audio/silence.mp3" allow="autoplay" id="audio" style="display:none"></iframe>
    <audio id="player" autoplay loop>
        <source src="/static/audio/wherecalc.mp3" type="audio/mp3">
    </audio>
    <meta http-equiv = "refresh" content = "2.5; url = /login" />
  </head>
  <body>
    <h1>You need to login to use the calculator!</h1>
    <style>
      body {
      background-image: url('https://c.tenor.com/hjjG_i4XmcEAAAAd/lizard-dance.gif');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
      }
    </style>
    <p>Redirecting you back to the login page</p>
  </body>
</html>
